[submodule "vim-flake8"]
	path = vim/bundle/vim-flake8
	url = git://github.com/nvie/vim-flake8.git
[submodule "vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-fakeclip"]
	path = vim/bundle/vim-fakeclip
	url = git@github.com:kana/vim-fakeclip.git
